/* [parts] medal
 *  出現位置は RichLink 内
 *
 *  :.lM
 *     .RichLink
 *       h3
 *         .medal
 *           img, i
 *  :.lS
 *      .RichLink
 *        .medal
 *          img, i
 *        b
--------------------------------------------------------------------------------------*/
.medal {
    position : relative;
    display  : block !important;
    padding  : 0 !important;
}
h3 .medal {
    font-size : .67em;
    i {
        font-size : 1.5em;
    }
}
/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    h3 .medal {
        font-size : .77em;
        i {
            font-size : 1.3em;
        }
    }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    h3 .medal {
        font-size : .91em;
        i {
            font-size : 1.1em;
        }
    }
}
    .medal i {
        position    : absolute;
        top         : 0;
        display     : block;

        line-height : 1.6;
        text-align  : center;
        font-style  : normal;
        font-weight : bold;

        width    : 1.6em;
        height   : 1.6em;
    }
    .lM .medal i {
        left      : 0;
    }
    .lS .medal i {
        right     : 0;
    }
    .img-disabled .medal i {
        position : static;
    }
    .img-disabled .lM .medal i {
        float  : left;
        margin : 0 0.5em 0 0;
    }
    .img-disabled .lS .medal i {
        float  : right;
        margin : 0 0 0 0.5em;
    }

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .lS .medal i {
        left  : 0;
        right : auto;
    }
    .img-disabled .lS .medal i {
        float  : left;
        margin : 0 0.5em 0 0;
    }
}

/*  color
--------------------------------------------------------------------------------------*/
.medal * {
    background : #333;
    color      : #eee;
}
.medal-gold {
    background : #e7bd2c;
    color      : rgb(109, 99, 9);
}
.medal-silver {
    background : #d3d6d6;
    color      : rgb(97, 104, 107);
}
.medal-bronze {
    background : #C47222;
    color      : rgb(230, 214, 169);
}