/* [module] Article Entry
 *  出現位置は #lB .lMi 下で固定
 *
 * .AEntry
 *   a.AEntry-date
 *     div
 *   .AEntry-title
 *     h3
 *     .AEntry-label
 *   .aBodyRoot
 *     .box
 *   .AEntry-jump
 *     .btn
 *     .btn
--------------------------------------------------------------------------------------*/

.AEntry {
    @include clearfix;

    padding     : 1em 0;
    line-height : 1.4;
}
	/* //_{#can-1stOfType */
	.AEntry .box > p:first-of-type {
		margin-top : -0.1em;
	}
	/* //_}#can-1stOfType */

/* //_{@ie5win */
.AEntry * {
    line-height : 1.4;
}
/* //_}@ie5win */
    .AEntry a {  @include noUnderLineAlways; }
    .AEntry .aBodyRoot a { @include hideUnderLineOnHover }

    .AEntry-date {
        display : block;
    }
        .AEntry-date div {
            font-size    : 1.25em;
            font-weight  : bold;
            padding      : 0 0 0.16em;
            border-width : 0 0 0.14em;
            border-style : solid;
        }
        .AEntry-date:link div {
            border-color : $COLOR_BdM_link;
        }     
        .AEntry-date:link:hover div {
            border-color : $COLOR_BdM_hover;
        }
        .AEntry-date:visited div {
            border-color : $COLOR_BdM_text;
        }
        .AEntry-date:visited:hover div {
            border-color : $COLOR_BdM_visited_hover;
        }
            /* //_{@ie7,@ie8,@ie9,@modern */
            .AEntry-date:hover + .AEntry-title :visited h3 {
                color : $COLOR_BdM_visited_hover;
            }
            .AEntry-date:hover + .AEntry-title :link h3 {
                color : $COLOR_BdM_hover;
            }
            .AEntry-date:hover ~ .AEntry-jump :visited:first-of-type {
                background : $COLOR_BdM_visited_hover;
            }
            .AEntry-date:hover ~ .AEntry-jump :link:first-of-type {
                background : $COLOR_BdM_hover;
            }

            .AEntry-date:focus + .AEntry-title :visited h3,
            .AEntry-date:focus + .AEntry-title :link h3 {
                color : $COLOR_ACCENT;
            }
            .AEntry-date:focus ~ .AEntry-jump :visited:first-of-type,
            .AEntry-date:focus ~ .AEntry-jump :link:first-of-type {
                background : $COLOR_ACCENT;
            }
            /* //_}@ie7,@ie8,@ie9,@modern */

            .AEntry-title-link {
                display : block;
                /* //_{#ie6-win */
                width   : 100%;
                /* //_}#ie6-win */
            }
                .AEntry h3 {
                    font-size     : 2em;
                    margin        : 0;
                    padding       : 0.2em 0 0;
                    text-align    : left;
                }

            .AEntry-label {
                font-size   : 1.25em;
                font-weight : bold;
                margin      : 0.4em 0 0.5em 1em;
                
                word-break  : break-all;
            }

        .AEntry .aBodyRoot {
            margin      : 0 0 0 0.25em;
        }

/* [module] Jump
 *  出現位置は #lB .lMi 下で固定
 *
--------------------------------------------------------------------------------------*/
.AEntry-jump {
	text-align  : right;
}
    .AEntry-jump .btn {
        /* //_{#ie55- */
        height      : 2em;
        /* //_}#ie55- */
        padding     : 0.5em 1em;
        margin-left : 1em;
    }

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.AEntry-jump { display : none; }
}
/* //_>bottom50 */

	/* //_<bottom20 */
	/*  Tablet
	--------------------------------------------------------------------------------------*/
	@media print, handheld, only screen and (max-width: 950px) {
        .AEntry-date div, .AEntry-label {
            font-size     : 1em;
        }

        .AEntry h3 {
            font-size  : 1.5em;
            text-align : left;
        }
        .AEntry h3 a {
            border-width : .12em 0 0;
        }
	}
	/* //_>bottom20 */

/* //_{#can-mq */
/* //_<bottom10 */
/*  Full HD
--------------------------------------------------------------------------------------*/
@media only screen and (min-width: 96em) {
    .AEntry-title {
        width : 45%;
        float : left;
    }
    .AEntry-label {
        margin : 0.4em 0 0;
    }
    .AEntry .aBodyRoot {
        width       : 45%;
        float       : left;
        margin      : 0.7em 0 0;
        line-height : 1.6;
    }
        /* //_{#can-1stOfType */
        .AEntry .box > p:first-of-type {
            margin-top : -0.2em;
        }
        /* //_}#can-1stOfType */
        .AEntry .aBodyRoot > *:first-child {
            margin-top : 0;
        }
        .AEntry .box img {
            margin-right : $CONTENT_MARGIN_LR_WSXGA / 0.45;
        }
    .AEntry-jump {
        width : 10%;
        float : right;
    }
        .AEntry-jump .btn {
            margin-left : 0;
            margin-top  : 0.7em;
            width       : 80%;
            height      : auto;
            padding     : 10%;
        }

}
/* //_>bottom10 */


/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
    .AEntry h2 {
        text-align : left;
    }
    .AEntry .aBodyRoot {
        margin   : 0;
	}
}
/* //_>bottom30 */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
        .AEntry-date:link div {
            border-color : $COLOR_WTC_link;
        }     
        .AEntry-date:link:hover div {
            border-color : $COLOR_WTC_hover;
        }
        .AEntry-date:visited div {
            border-color : $COLOR_WTC_text;
        }
        .AEntry-date:visited:hover div {
            border-color : $COLOR_WTC_visited_hover;
        }

            .AEntry-date:hover + .AEntry-title :visited h3 {
                color : $COLOR_WTC_visited_hover;
            }
            .AEntry-date:hover + .AEntry-title :link h3 {
                color : $COLOR_WTC_hover;
            }
            .AEntry-date:hover ~ .AEntry-jump :visited:first-of-type {
                background : $COLOR_WTC_visited_hover;
            }
            .AEntry-date:hover ~ .AEntry-jump :link:first-of-type {
                background : $COLOR_WTC_hover;
            }
}
/* //_>bottom40 */

/* //_}#can-mq */