/* [module] Blog Archive
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
--------------------------------------------------------------------------------------*/
.BlogArchive {
    @include stackableModule;
}
    .BlogArchive dl {
        @include clearfix;
    }
        .BlogArchive dt {
            display : block;
            float   : left;
            clear   : both;
        /* //_{#ie7-win */
            line-height : 2.8;
        /* //_}#ie7-win */
        }
        .lS .BlogArchive dt,
        #lF .BlogArchive dt {
        /* //_{#ie7-win */
            line-height : 2.4;
        /* //_}#ie7-win */
        }
        .BlogArchive dd {
            margin-left : 3em;
            color       : $COLOR_BdM_fill; /* , を消す */
        }
        .fillbg .BlogArchive dd {
            color      : $COLOR_FtM_fill; /* , を消す */
        }
            .BlogArchive a {
                @include noUnderLineAlways;
                
            /* //_{@modern,@ie9,@ie8 */
                display : inline-block;
                margin  : 0 0 1em;
            /* //_}@modern,@ie9,@ie8 */

            /* //_{#ie7-win */
                line-height : 2.8;
            /* //_}#ie7-win */

                border-width : 0 0 1px;
                border-style : solid;
            }
            .BlogArchive a:focus:hover { text-decoration : none !important; }
            
            .lS .BlogArchive a,
            #lF .BlogArchive a {
            /* //_{@modern,@ie9,@ie8 */
                margin  : 0 0 0.6em;
            /* //_}@modern,@ie9,@ie8 */

            /* //_{#ie7-win */
                line-height : 2.4;
            /* //_}#ie7-win */
            }

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .lM2 .BlogArchive dt {
        float   : right;
    }
    .lM2 .BlogArchive dd {
        margin-left  : 0;
        margin-right : 3em;
        text-align   : right;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .lM2 .BlogArchive dt,
    .lS .BlogArchive dt,
    #lF .BlogArchive dt {
		float         : left; 
        padding-right : 1em;
    }
        .lM2 .BlogArchive dd,
        .lS .BlogArchive dd,
        #lF .BlogArchive dd {
            margin-left  : 0.5em;
            margin-right : 0;
            text-align   : left;
        }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .BlogArchive dd {
        color : $COLOR_WTC_fill; /* , を消す */
    }
}

