/* [module] BlogArchive
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
--------------------------------------------------------------------------------------*/
.BlogArchive {
	@include stackableModule;
}
	.BlogArchive dl {
		@include clearfix;
	}
		.BlogArchive dt {
			display : block;
			float   : left;
			clear   : left;
		/* //_{#ie7-win */
			line-height : 2.8;
		/* //_}#ie7-win */
		}
		.lS .BlogArchive dt,
		#lF .BlogArchive dt {
		/* //_{#ie7-win */
			line-height : 2.4;
		/* //_}#ie7-win */
		}
		.BlogArchive dd {
			margin-left : 3em;
			color       : $COLOR_BdM_fill; /* , を消す */
		}
		.fillbg .BlogArchive dd {
			color      : $COLOR_FtM_fill; /* , を消す */
		}
			.BlogArchive a {
				@include noUnderLineAlways;
				
			/* //_{@modern,@ie9,@ie8 */
				display : inline-block;
				margin  : 0 0 1em;
			/* //_}@modern,@ie9,@ie8 */

			/* //_{#ie7-win */
				line-height : 2.8;
			/* //_}#ie7-win */

				border-width : 0 0 1px;
				border-style : solid;
			}
			.lS .BlogArchive a,
			#lF .BlogArchive a {
			/* //_{@modern,@ie9,@ie8 */
				margin  : 0 0 0.6em;
			/* //_}@modern,@ie9,@ie8 */

			/* //_{#ie7-win */
				line-height : 2.4;
			/* //_}#ie7-win */
			}

/* //_{#can-mq */
/* //_<bottom25 */
/*  Phablet
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 740px) {
	.lM2 .BlogArchive dt {
		float   : right;
		clear   : right;
	}
	.lM2 .BlogArchive dd {
		margin-left  : 0;
		margin-right : 3em;
		text-align   : right;
	}
}
/* //_>bottom25 */

/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.lS .BlogArchive dt,
	#lF .BlogArchive dt {
		display       : inline;
		float         : left; 
		padding-right : 1em;
	}
		.lS .BlogArchive dd,
		#lF .BlogArchive dd {
			margin-left  : 0.5em;
			margin-right : 0;
			text-align   : left;
		}
}
/* //_>bottom30 */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.BlogArchive dd {
		color : $COLOR_WTC_fill; /* , を消す */
	}
}
/* //_>bottom40 */
/* //_}#can-mq */

