/* [module] Comment form
 *  出現位置は #lB .lMh 下で固定
 *
 *  div.CmtForm
--------------------------------------------------------------------------------------*/
/* //_{#ie55- */
.CmtForm {
    display : none;
}
/* //_}#ie55- */

/* //_{^#ie55- */
.CmtForm { 
    border-style  : solid;

    padding       : 1em 0;
    text-align    : center;
}

    .CmtForm iframe {
        width       : 100%;
    /* //_{^@ie6 */
        height      : 400px;
    /* //_}^@ie6 */
    /* //_{@ie6 */
        height      : 430px;
        margin-left : -18px;
    /* //_}@ie6 */
    }
    .CmtForm h2 {
        text-align : left;
    }
/* //_}^#ie55- */

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.CmtForm h2 {
		text-align : center;
	}
}
/* //_>bottom30 */

/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.CmtForm {
		display : none;
	}
}
/* //_>bottom50 */