/* [module] Comment form
 *  出現位置は #lB .lMh 下で固定
 *
 *  div.CmtForm
--------------------------------------------------------------------------------------*/
/* //_{#ie7-win */
.CmtForm {
    display : none;
}
/* //_}#ie7-win */

/* //_{^#ie7-win */
.CmtForm { 
    border-style  : solid;

    padding       : 1em 0;
    text-align    : center;
}

    .CmtForm iframe {
        width       : 100%;
    /* //_{^@ie6 */
        height      : 400px;
    /* //_}^@ie6 */
    /* //_{@ie6 */
        height      : 430px;
        margin-left : -18px;
    /* //_}@ie6 */
    }
    .CmtForm h2 {
        text-align : left;
    }
/* //_}^#ie7-win */

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .CmtForm h2 {
        text-align : center;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .CmtForm {
        display : none;
    }
}