.ContactForm form {
    display : block;
}

    .ContactForm-pair {
        @include clearfix;

        margin-bottom : 1em;
    }
        .ContactForm label {
            display : block;
            float   : left;
            width   : 7em;
            padding : 0.2em 0;
        }

        .ContactForm-text {
            margin-left : 8em;
            padding     : 0.2em 0.5em;
            background  : $COLOR_BdM_casual_fill;
        }

            .ContactForm-text input,
            .ContactForm textarea {
                width      : 100%;
                padding    : 0;
                border     : 0;
                background : $COLOR_BdM_casual_fill;
            }

            /* //_{@ie9,@modern */
            .ContactForm form :invalid {
                color      : $COLOR_WARN;
                box-shadow : none;
            }
            /* //_}@ie9,@modern */

            .ContactForm-text input:focus,
            .ContactForm textarea:focus {
                color      : darken( $COLOR_ACCENT, 30% );
            }

        .ContactForm textarea {
            margin : 0;
            border : 0;
            resize : vertical;
            /* //_{@modern */
            background-image : none; /* Android Firefox */
            /* //_}@modern */
        }

        .ContactForm-submit {
            text-align : right;
        }
            .ContactForm-submit .btn {
                display : inline-block;
                padding : 0 1em;
            }

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
    .ContactForm label {
        float   : none;
        width   : auto;
    }

    .ContactForm-text {
        margin-left : 0;
    }
}
/* //_>bottom30 */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
    .ContactForm-text,
    .ContactForm-text input,
    .ContactForm textarea {
        background : $COLOR_WTC_casual_fill;
    }

    .ContactForm-text input:focus,
    .ContactForm textarea:focus {
        color      : $COLOR_ACCENT;
    }
}
/* //_>bottom40 */
/* //_}#can-mq */
