/* [module] Cover
 *  出現位置は #lB .lMi 下で固定
 *
 * .Cover
 *   div.Cover-item
 *     div.Cover-img
 *       img
 *       div
 *         h2
 *         h3
 *     div.Cover-meta
 *       i
 *     p
 *     div.Cover-btn
 *       .btn
 *     
--------------------------------------------------------------------------------------*/
.Cover {
    @include clearfix;
    margin         : 1.5em 0 0;
    padding        : 0 0 1em;
    border-style   : solid;
    border-width   : 0 0 1px;
    @include lineHeight(1.4, 1);
}

    .Cover-item {
        float    : left;
        width    : 49%;
    }
    .Cover-item-1st {
        margin-right : 2%;
    }
        .Cover-img {
            position      : relative;
            height        : 100%;
            margin-bottom : 0.6em;
        }
            .Cover img {
                margin   : 0;
                display  : block;
                width    : 100%;
            }
            .Cover-img div {
                position : absolute;
                bottom   : 0;
                left     : 0;
                width    : 100%;
            }
            .Cover .img-disabled div {
                position : static;
            }
                .Cover h2 {
                    font-size  : 0.825em;
                    padding    : 0.6em;
                    border     : 0;
                /* //_{^#ie7-win */
                    display     : inline-block;
                /* //_}^#ie7-win */
                    background : $COLOR_ACCENT;
                    color      : $COLOR_BdM_fill;
                }
                .Cover h2:after {
                    display : none;
                }
                .Cover h3 {
                    font-size  : 1.33em;
                    padding    : 0.385em;
                    margin     : 0;
                    color      : #fff;
                    /* //_{^@ie9 */
                        /* clean-css ignore:start */
                        background : #000;
                        /* clean-css ignore:end */
                    /* //_}^@ie9 */
                    /* //_{@modern,@ie9 */
                    background : rgba( 0, 0, 0, .65);
                    /* //_}@modern,@ie9 */
                }
        .Cover-meta {
            display    : block;
            color      : $COLOR_BdM_casual_text;
            margin     : 0 0.5em;
        }
        /* //_{@modern,@ie9,@ie8 */
            .Cover-meta span {
                display : inline-block;
            }
        /* //_}@modern,@ie9,@ie8 */
        .Cover p {
            margin     : 0.6em 0.5em;
        }
        .Cover-btn {
            text-align : right;

            @include btn-more;
        }
            .Cover .btn {
            /* //_{#ie55- */
                height      : 2em;
            /* //_}#ie55- */
                padding     : 0.5em 0.5em 0.5em 1em;
            }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .Cover-item {
        @include clearfix;
    }
        .Cover img {
            position : static;
            width    : auto;
            float    : left;
            margin   : 0 1em 1em 0;
        }
            .Cover-img div {
                position   : static;
                background : $COLOR_BdM_text;
                padding    : 1em 0;
            }
                .Cover h2 {
                    font-size  : 1em;
                    padding    : 0.5em;
                }
                .Cover h3 {
                    background : transparent;
                    padding    : 0.77em 0.77em 0 0;
                }
            .Cover-meta, .Cover p {
                margin-right : 1em;
            }
}

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    .Cover img {
        margin   : 0 2em 1em 0;
    }
        .Cover-img div {
            padding    : 2em 0;
        }
            .Cover h3 {
                font-size : 1.5em;
                padding   : 0.67em 1.33em 0 0;
            }
        .Cover-meta, .Cover p {
            margin-right : 2em;
        }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .Cover h3 {
        font-size  : 1em;
        padding    : 0.5em;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
        .Cover-item {
            float  : none;
            width  : auto;
            margin : 1em 0 0;
        }
        .Cover-item-1st {
            padding      : 0 0 1em;
            border-style : solid;
            border-width : 0 0 1px;
            margin       : 0 0 1em;
        }
            .Cover h3 {
                font-size  : 1.33em;
                padding    : 0.77em 0.385em;
            }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .Cover-item {
        @include clearfix;
    }
        .Cover img {
            position : static;
            width    : auto;
            float    : left;
            margin   : 0 1em 1em 0;
        }
            .Cover-img div {
                position   : static;
                padding    : 0;
            }
                .Cover h2 {
                    float      : left;
                    display    : inline-block;
                    font-size  : 1em;
                    padding    : 0.5em;
                    margin     : 0 .5em .5em 0;
                }
                .Cover h3 {
                    background : transparent;
                    color      : $COLOR_BdM_text;
                    font-size  : 1.5em;
                    padding    : 0.33em 0;
                }
            .Cover-meta, .Cover p {
                margin-left  : 0;
                margin-right : 0;
            }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .Cover h3 {
        color   : $COLOR_WTC_text;
    }    
    .Cover-meta {
        color   : $COLOR_WTC_casual_text;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .Cover h2 {
        border-width : 1px solid #000;
        border-style : solid;
        margin-top   : 1em;
    }
    .Cover h2, .Cover h3 {
        background : #fff;
        color      : #000;
    }
    .Cover img, .Cover-img div {
        position : static;
    }
    .Cover-btn {
        display : none;
    }
}