/* [module] Pager small
 *  出現位置は #lB .lMi 下で固定
 *
--------------------------------------------------------------------------------------*/
.mNs {
	padding-top   : 1em;
	text-align    : right;
}

.item .mNs {
	margin-bottom : 1em;
}

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.mNs {
		display : none;
	}
}
/* //_>bottom50 */
