/* [module] Text Navi
 *  出現位置は (#lB|#lE) .lMi 下で固定
 *
--------------------------------------------------------------------------------------*/
.TxtNavi {
	padding-top : 0.5em;
	text-align  : right;
	color       : $COLOR_BdM_fill; /* , を消す */
}

.fillbg .TxtNavi {
	color       : $COLOR_FtM_fill; /* , を消す */
}

#lE .TxtNavi {
	margin-bottom : 1em;
}

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.TxtNavi {
		display : none;
	}
}
/* //_>bottom50 */
