/* [ArticleFooter Item] Pager
 *
--------------------------------------------------------------------------------------*/
.Pager {
	position   : relative;
	color      : $COLOR_BdM_fill; /* , を消す */
	height     : 4em;
}
.AFoot .Pager {
	border-width  : 0 0 1px;
	border-style  : solid;
}

	.Pager-next { left  : 0;   }
	.Pager-top  { left  : 34%; text-align : center; }
	.Pager-prev { right : 0;   text-align : right; }

	.Pager span {
		position        : absolute;
		top             : 0;
		display         : block;
		padding         : 1em 0;
		width           : 32%;
		/* http://tacamy.hatenablog.com/entry/2014/02/19/141948 */
		overflow        : hidden;
		white-space     : nowrap;
		text-overflow   : ellipsis;
	}
	.Pager a {
		line-height     : 2;
	}

/* //_{#can-mq */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
    .Pager {
		color : $COLOR_WTC_fill; /* , を消す */
	}
}
/* //_>bottom40 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.Pager {
		display : none;
	}
}
/* //_>bottom50 */
