/* [module] Article Description
 *  出現位置は #lE .lSi 下で固定
 *
--------------------------------------------------------------------------------------*/
.ADesc {
    p {
        margin : 0 0.5em 1em;
        color  : $COLOR_Ribbon_casual_text;
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .ADesc p {
        margin : 1em 0 0;
    }
}