/* [module] Comment form
 *  出現位置は #lB .lMh 下で固定
 *
 *  div.CmtForm
--------------------------------------------------------------------------------------*/
/* //_{@modern,@ie9 */
.CmtForm { 
    padding       : 1em 0;
    text-align    : center;
}

    .CmtForm iframe {
        width  : 100%;
        height : 400px;
    }
    .CmtForm h2 {
        text-align : left;
    }
/* //_}@modern,@ie9 */

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .CmtForm h2 {
        text-align : center;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .CmtForm {
        display : none;
    }
}