
/** //_{+simpleHeader **/
    #lH .lM, #lH .lS {
        padding : 1em 0;
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet) {
        #lH .lM {
            padding : 1em 0 0;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        #lH {
            font-size : 0.875em;
        }
        #lH .lM {
            padding : .5em 0;
        }
    }
/** //_}+simpleHeader **/
