
/** //_{+simpleHeader **/
	#lH .lM, #lH .lS {
		padding : 1em 0;
	}

	/* //_{#can-mq */
	/* //_<bottom21 */
	/*  Tablet
	--------------------------------------------------------------------------------------*/
	@media handheld, only screen and (max-width: 950px) {
		#lH .lM {
			padding : 1em 0 0;
		}
	}
	/* //_>bottom21 */
	/* //_}#can-mq */

	/* //_<bottom50 */
	/*  Print
	--------------------------------------------------------------------------------------*/
	@media print {
		#lH {
			font-size : 0.875em;
		}
		#lH .lM {
			padding : .5em 0;
		}
	}
	/* //_>bottom50 */
/** //_}+simpleHeader **/
